main {
    width: 700px;
    height: 730px;
    border: 1px solid #000000;
    text-align: center;
    padding: 10px 20px;
    background-color: #a6e1ec;
}
h1 {
    text-align: left;
}
h2 {
    text-align: left;
}
#img {
    width: 200px;
    margin-right: 10px;
    vertical-align: middle;
}
span {
    color: #3f51b5;
}
.img-text {
    width: 200px;
    margin-right: 10px;
    vertical-align: middle;
}
li {
    text-align: left;
    list-style-type: none;
    width: 595px;
    padding: 10px;
    margin-bottom: 5px;
    font-size: 14px;
    border: 1px solid #000000;
}
