body {
    background-color: #EEE;
    padding: 5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100vw;
}

header, main, aside, footer {
    padding: 2rem;
    background-color: #FFF;
    border-radius: 0.4rem;
    color: #000;
}

header , footer {
    flex-basis: 100%;
    gap: 20px;
}

main {
    width: 70%;
}

aside {
  width: 25%;
  flex-grow: 1;  
}
