header {
    border-bottom: 2px rgb(0, 0, 0) solid;
    display: flex;
    justify-content: space-between;
}
header > nav > ul {
display: flex;
flex-wrap: wrap;

}
header > nav > ul > li {
color: rgb(0, 153, 0);
margin-right: 25px;
}
header > p {
    font-size: 46px;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 10px;
}
body {
    padding: 60px;
    text-align: justify;
}
h1 {
    margin-top: 20px;
    margin-bottom: 10px;
}