@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');
body {
    margin: 0px;
    font-size: 0px;
}
.viewport {
    
}
.card1 {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(5, 5, 117, 1) 0%, rgba(2, 186, 116, 1) 70%);
    display: block;
    position: absolute;
    height: 50vh;
    width: 100vw;
    top: 186px;
    left: 720px;
    transform: translate(-50%, -50%);
}

.card2 {
    background: rgb(167, 8, 8);
    background: linear-gradient(54deg, rgba(167, 8, 8, 1) 0%, rgba(217, 130, 23, 1) 71%);
   
    display: block;
    position: absolute;
    height: 50vh;
    width: 100vw;
    top: 559px;
    left: 720px;
    transform: translate(-50%, -50%);
}
 .img1 , .img2 {
    object-fit: cover;
    width: 200px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 281px -18px rgba(0, 0, 0, 0.53); 
}
/* .viewport .card1 .icon {
    color: white;
    position: absolute;
    right: 5px;
    bottom: 10px;
}
.viewport .card2 .icon {
    color: white;
    position: absolute;
    right: 5px;
    bottom: 10px;
}  */


