@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');
body {
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.btn-login {
    all: unset;
    border: 1px solid black;
    border-radius: 3px;
    padding: 2px 20px 2px 20px;
    background-color: black;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    margin-left: 15px;
    
}
.title {
    display: inline-block;
    position: relative;
    top: -45px;
    left: -31px;
    border: 1px solid grey;
    border-radius: 2px;
    padding: 5px 110px 2px 20px;
    z-index: 1;
    background-color: white;
    font-weight: bold;
}
.login {
    border: 1px solid grey;
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
    padding: 30px;
    z-index: 0;
    max-width: 15%;
}
.login-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;
}
.login > .login-form i {
    position: relative;
    top: 0px;
    left: 105px;
}
#username {
    padding-left: 25px;
    margin: auto;
}
#password {
    padding-left: 30px;
    margin: auto;
}
