.container {
    display: flex;
    flex-wrap: wrap;
}
body {
    background-color: rgb(238, 238, 238);
    padding: 120px;
}
.title {
    border-bottom: 2px solid grey;
    margin-bottom: 20px;
}
.title p {
    font-size: 46px;
    font-weight: bold;
    margin-bottom: 20px;
}
.first h1 {
    margin-bottom: 20px;
}
blockquote {
    font-family: Georgia, serif;
    float: right;
   
}
.second ul li {
    color: rgb(0, 153, 0);
}
.first-img , .second-img {
    background-color: rgb(255, 255, 255);
}
.first-img { 
    float: right;
    margin: 20px;
    border: 2px solid black;
    padding: 10px;
}
.second-img {
    float: left;
    margin: 20px 20px 20px 0px;
    border: 2px solid black;
    padding: 10px;
}
.first {
    border-right: 1px solid grey;
    margin-right: 50px;
    padding-right: 50px;
}
.first h2 {
    margin: 20px 0px;
}
.first {
    flex-wrap: wrap;
    width: 70%;
}
.quoute {
    display: block;

}
.quoute blockquote {
    width: 50%;
    padding: 30px 30px 30px 0px;
    float: right;
    text-align: justify;
    font-style: italic;
    color: lightgray;
}
.quoute > p {
    width: 50%;
}
.quoute .author {
    text-align: right;
}
