<h1>Create new product</h1>
<form action="/create" method="post">
<label for="name"><span>Name</span><input name="name" type="text"></label>
<label for="number"><span>Price</span><input name="price" type="number"></label>
<input type="submit" value="Create">
</form> 