header nav h1 {
    font-weight: bold;
    font-size: 30px;
    display: inline-block;
    margin-right: 50px;
}
header nav {
    border-bottom: 2px black solid;
    margin: 0 0 30px 0;
}
main {
    font-family: Helvetica, sans-serif;
    
}
html {
    margin: 40px 50px 40px 50px;
}
main h2 {
    font-weight: 400;
}
header nav a {
    display: inline-block;
    text-decoration: none;
    color: rgb(87, 180, 87);
    margin-right: 20px;
}
