body, ul , li {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
ul {
    justify-content: space-between;
}
body {
    padding: 80px;
}
.gallery > ul > li {
    border: 10px solid black;
    padding: 40px 10px 40px 10px;
    align-items: center;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
}
