<section id="loginPage">
            <form id='loginForm' action="/auth/login" method="post">
                <label for="email">Email:</label>
                <input type="text" id="email" name="email" placeholder="Email" value="{{{body.email}}}">

                <label for="password">Password:</label>
                <input type="password" id="password" name="password" placeholder="Password">

                <input type="submit" class="register" value="Login">
            </form>
        </section>