div, section {
    display: flex;
     text-align: center;
    flex-wrap: wrap;
}
div {
    max-width: 60vw;
}
span {
    border-width: 1px;
    border-color: black;
    border-style: solid;
    padding: 12px;
    
}
.notes {
    flex-direction: column;
    
    
}
.week span:nth-child(1) {
    width: 100%;
}
.week span:nth-child(7) {
    width: 100%;
}
.week span:nth-child(8) {
    width: 50%;
}
.week span:nth-child(9) {
    width: 50%;
}
.notes span {
width: 50%;
}
.week span {
    width: 20%;
}
.container span {
    display: block;
}
.container .week {
    width: 75%;
    flex-wrap: wrap;
}
.container .notes {
    width: 25%;
}
.container .notes .item {
    width: 100%;
    height: 50%;
   
    
}
