@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');
ul {
    display: inline-block;
    border: 2px solid black;
    overflow: hidden;
    padding: 40px;
}
li {
    list-style: none;
    display: inline-block;
}
a {
    border-radius: 50%;
    color: black;
    background-color: lightgrey;
    padding: 15px;
    margin: 5px;
    text-align: center;
}
* {
    box-sizing: border-box;
}
a:hover {
    color: blue;
}